*{
    text-align: center;
 color: #785A28;   
}

.grid{
 
   margin: 10%;
display:grid;

padding: 10px;
background-color: #C89B3C;
border:10px solid#0A323C ;
border-radius: 1.5%;

}

.row{
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.label{
    background-color: #0A323C;
}


// section{
// display: grid;
// align-items: space-between;
// gap: 9px;

// }

// .side{
//     background-color: aqua;
// }

// #board{
//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
// }


section div{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    height: 100%;   
    width: 100%;
border: 1px solid #0A323C;
}
